.info > * {
  margin: 1rem;
}
.info {
  font-size: medium;
}

.info > div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: 2.2rem;
}

.info > div > *:not(:last-child) {
  padding-right: 2rem;
  border-right: 1px solid gray;
}
