.btn {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  padding: 0.6rem 0.7rem;
}

.primary {
  background-color: #4caf50;
  border: none;
  min-width: 6.7rem;
  height: 100%;
  color: white;
}

.primary:hover {
  background-color: #3e9341;
  box-shadow: 0 0 5px 2px #b8b6b6;
}

.secondary {
  background-color: #f1f1f1;
  color: #4caf50;
  min-width: 6.5rem;
  height: 100%;
  border: 0.1px solid gray;
  border-radius: 4px;
}

.secondary:hover {
  background-color: #fbfbfb;
  opacity: 0.9;
  box-shadow: 0 0 5px 2px #b8b6b6;
}
