header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 16rem;
  box-shadow: 3px 3px 3px grey;
}

.headerIcon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.7rem;
  position: relative;
  top: 0.5rem;
}

header .logo img {
  height: 6rem;
  transition: all 0.2s;
}

header .logo img:hover {
  transform: scale(1.2);
}

.nav-left {
  display: flex;
}

.icon {
  width: 2rem;
}
