.filters {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2rem;
  right: 6rem;
  color: #000;
}

.filterItem {
  display: flex;
  column-gap: 1rem;
  height: 4rem;
  font-size: medium;
  background-color: white;
  box-shadow: 0 3px 15px 0 rgb(40 44 63 / 10%);
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.favourite {
  padding: 1rem;
}

.favourite:hover {
  cursor: pointer;
  color: red;
}

.favourite img {
  width: 2.1rem;
  height: 2.1rem;
  position: relative;
  bottom: 0.1rem;
}
